<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>Disaster Tweets</title>
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-2"></div>
        <div class="column col-8">
            <h1><br>Disaster Tweets</h1>
            <form method="post" action="{{ url_for('response') }}" >
                <div class="form-group">
                    <label class="form-label" for="tweet">Tweet text</label>
                    <textarea class="form-input" id="tweet" placeholder="Insert tweet text here" name="tweet" rows="3"></textarea>
                </div>
                <button class="btn" type="submit">Wyślij</button>
            </form>

            {% if prediction_text and text %}
            <br><br>
            <h3>{{prediction_text}}</h3>
            <p>Text sent for prediction:<br>{{text}}</p>
            {% endif %}
        </div>
        <div class="column col-2"></div>
    </div>
</div>


</body>
</html>